@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("./futura/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #2c3341;
  outline: none;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 91.6%;
  margin: 0 auto;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.34722vw;
}

#logo p {
  font-family: "FuturaMediumC";
  color: #fff;
}

#logo img {
  width: 5.55556vw;
  height: 5.55556vw;
}

#searchContainer {
  background: #ffffff;
  border: 1px solid #ebecec;
  border-radius: 2.22222vw;
  padding: 0.83333vw 1.66667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#searchContainer input {
  font-size: 16px;
  line-height: 162%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#searchContainer input::-webkit-input-placeholder {
  color: #afb7c5;
}

#searchContainer input:-ms-input-placeholder {
  color: #afb7c5;
}

#searchContainer input::-ms-input-placeholder {
  color: #afb7c5;
}

#searchContainer input::placeholder {
  color: #afb7c5;
}

#searchContainer button {
  width: 1.25vw;
  height: 1.25vw;
}

#searchContainer button img {
  width: 100%;
  height: 100%;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.66667vw;
}

.tags a {
  font-size: 1.11111vw;
  line-height: 162%;
  color: #5c44ca;
}

button.purple,
a.purple {
  background: #5c44ca;
  border: 1px solid #5c44ca;
  border-radius: 2.22222vw;
  padding: 1.11111vw 2.22222vw;
  font-weight: 600;
  font-size: 1.11111vw;
  line-height: 150%;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: 29.02778vw;
  text-align: center;
}

header,
footer {
  background: #5c44ca;
  padding: 0.69444vw 0;
  background-image: url("./assets/headerpart-1.svg"), url("./assets/headerpart-3.svg"), url("./assets/headerpart-4.svg"), url("./assets/headerpart-2.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0 center, 6.94444vw center, 3.125vw center, 27.77778vw center;
}

header .container,
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.77778vw;
}

header .container .left,
footer .container .left {
  margin-right: auto;
}

header .container .right,
footer .container .right {
  margin-left: auto;
}

header .container nav,
footer .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.22222vw;
}

header .container nav a,
footer .container nav a {
  color: #fff;
  font-weight: 600;
  font-size: 1.11111vw;
  line-height: 150%;
}

header .container #language,
footer .container #language {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .container #language #lang_label,
footer .container #language #lang_label {
  background-color: #fff;
  border-radius: 2.22222vw;
  padding: 1.04167vw 1.66667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.04167vw;
  cursor: pointer;
}

header .container #language #lang_label span,
footer .container #language #lang_label span {
  font-size: 1.11111vw;
  line-height: 162%;
}

header .container #language #lang_label img,
footer .container #language #lang_label img {
  width: 1.38889vw;
  height: 1.38889vw;
}

header .container #language #lang_label .arrow,
footer .container #language #lang_label .arrow {
  width: 1.04167vw;
  height: 0.69444vw;
  margin-left: 1.38889vw;
}

header .container #language #lang_body,
footer .container #language #lang_body {
  padding: 1.66667vw;
  position: absolute;
  background: #ffffff;
  border: 1px solid #f4f5f7;
  border-radius: 2.22222vw;
  width: 100%;
  left: 0;
  margin-top: 0.55556vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-1.38889vw);
          transform: translateY(-1.38889vw);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .container #language #lang_body li,
footer .container #language #lang_body li {
  cursor: pointer;
  font-size: 1.11111vw;
  line-height: 162%;
}

header .container #language #lang_body li:not(:last-child),
footer .container #language #lang_body li:not(:last-child) {
  margin-bottom: 0.83333vw;
}

header .container #language #lang_body li.active,
footer .container #language #lang_body li.active {
  color: #5c44ca;
}

header .container #language #lang_body.visible,
footer .container #language #lang_body.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header .container > span,
footer .container > span {
  font-size: 1.11111vw;
  line-height: 162%;
  color: #ffffff;
}

footer nav a {
  text-decoration: underline;
}

main section#intro {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

main section#intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.43056vw 0;
  gap: 4.16667vw;
}

main section#intro .container > img {
  width: 24.30556vw;
  margin-right: 8.68056vw;
}

main section#intro .container h1 {
  font-size: 5vw;
  line-height: 119%;
  margin-bottom: 1.38889vw;
  font-weight: bold;
  font-family: "FuturaMediumC";
}

main section#intro .container p {
  font-size: 1.25vw;
  line-height: 144%;
  width: 43.95833vw;
  margin-bottom: 2.77778vw;
}

main section#intro .container .tags {
  margin-top: 1.66667vw;
}

main section.posts {
  margin: 5.55556vw 0;
}

main section.posts .container h2 {
  color: #afb7c5;
  font-weight: bold;
  font-size: 3.88889vw;
  line-height: 114%;
  font-family: "FuturaMediumC";
  margin-bottom: 2.77778vw;
}

main section.posts .container h2.dark {
  color: #2c3341;
}

main section.posts .container .postsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2.22222vw;
}

main section.posts .container .postsGrid .post {
  cursor: pointer;
  border-radius: 0.83333vw;
  overflow: hidden;
  display: block;
}

main section.posts .container .postsGrid .post .cover {
  height: 17.01389vw;
}

main section.posts .container .postsGrid .post .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.posts .container .postsGrid .post .content {
  background: #f4f5f7;
  padding: 1.66667vw 2.22222vw;
}

main section.posts .container .postsGrid .post .content .tags {
  gap: 1.11111vw;
}

main section.posts .container .postsGrid .post .content .tags a {
  font-weight: 600;
  font-size: 0.97222vw;
  line-height: 171%;
}

main section.posts .container .postsGrid .post .content h5 {
  font-weight: bold;
  font-size: 1.38889vw;
  line-height: 140%;
  margin: 1.11111vw 0;
  font-family: "FuturaMediumC", sans-serif;
}

main section.posts .container .postsGrid .post .content p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.11111vw;
  line-height: 150%;
}

main section.posts .container .purple {
  margin-top: 2.77778vw;
}
/*# sourceMappingURL=style.css.map */