@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("./futura/stylesheet.css");

$textColor: #2c3341;
$purpur: #5c44ca;
$greyText: #afb7c5;
$lightGrey: #f4f5f7;

$screen-width: 1440;
@function px-to-vw($value) {
  @return $value * 100 / $screen-width + vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: $textColor;
  outline: none;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 91.6%;
  margin: 0 auto;
}

#logo {
  display: flex;
  align-items: center;
  gap: px-to-vw(5);
  p {
    font-family: "FuturaMediumC";
    color: #fff;
  }
  img {
    width: px-to-vw(80);
    height: px-to-vw(80);
  }
}

#searchContainer {
  background: #ffffff;
  border: 1px solid #ebecec;
  border-radius: px-to-vw(32);
  padding: px-to-vw(12) px-to-vw(24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    font-size: 16px;
    line-height: 162%;
    flex-grow: 1;
    &::placeholder {
      color: $greyText;
    }
  }
  button {
    width: px-to-vw(18);
    height: px-to-vw(18);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  gap: px-to-vw(24);
  a {
    font-size: px-to-vw(16);
    line-height: 162%;
    color: $purpur;
  }
}

button.purple,
a.purple {
  background: $purpur;
  border: 1px solid $purpur;
  border-radius: px-to-vw(32);
  padding: px-to-vw(16) px-to-vw(32);
  font-weight: 600;
  font-size: px-to-vw(16);
  line-height: 150%;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: px-to-vw(418);
  text-align: center;
}

// header

header,
footer {
  background: $purpur;
  padding: px-to-vw(10) 0;
  background-image: url("./assets/headerpart-1.svg"),
    url("./assets/headerpart-3.svg"), url("./assets/headerpart-4.svg"),
    url("./assets/headerpart-2.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0 center, px-to-vw(100) center, px-to-vw(45) center,
    px-to-vw(400) center;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: px-to-vw(40);
    .left {
      margin-right: auto;
    }
    .right {
      margin-left: auto;
    }
    nav {
      display: flex;
      align-items: center;
      gap: px-to-vw(32);
      a {
        color: #fff;
        font-weight: 600;
        font-size: px-to-vw(16);
        line-height: 150%;
      }
    }
    #language {
      position: relative;
      user-select: none;
      #lang_label {
        background-color: #fff;
        border-radius: px-to-vw(32);
        padding: px-to-vw(15) px-to-vw(24);
        display: flex;
        align-items: center;
        gap: px-to-vw(15);
        cursor: pointer;
        span {
          font-size: px-to-vw(16);
          line-height: 162%;
        }
        img {
          width: px-to-vw(20);
          height: px-to-vw(20);
        }
        .arrow {
          width: px-to-vw(15);
          height: px-to-vw(10);
          margin-left: px-to-vw(20);
        }
      }
      #lang_body {
        padding: px-to-vw(24);
        position: absolute;
        background: #ffffff;
        border: 1px solid $lightGrey;
        border-radius: px-to-vw(32);
        width: 100%;
        left: 0;
        margin-top: px-to-vw(8);
        li {
          cursor: pointer;
          font-size: px-to-vw(16);
          line-height: 162%;
          &:not(:last-child) {
            margin-bottom: px-to-vw(12);
          }
          &.active {
            color: $purpur;
          }
        }
        opacity: 0;
        visibility: hidden;
        transform: translateY(px-to-vw(-20));
        transition: 0.3s;
        &.visible {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
    > span {
      font-size: px-to-vw(16);
      line-height: 162%;
      color: #ffffff;
    }
  }
}

footer nav a {
  text-decoration: underline;
}

main {
  section#intro {
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: px-to-vw(35) 0;
      gap: px-to-vw(60);
      > img {
        width: px-to-vw(350);
        margin-right: px-to-vw(125);
      }
      h1 {
        font-size: px-to-vw(72);
        line-height: 119%;
        margin-bottom: px-to-vw(20);
        font-weight: bold;
        font-family: "FuturaMediumC";
      }
      p {
        font-size: px-to-vw(18);
        line-height: 144%;
        width: px-to-vw(633);
        margin-bottom: px-to-vw(40);
      }
      .tags {
        margin-top: px-to-vw(24);
      }
    }
  }
  section.posts {
    margin: px-to-vw(80) 0;
    .container {
      h2 {
        color: $greyText;
        font-weight: bold;
        font-size: px-to-vw(56);
        line-height: 114%;
        font-family: "FuturaMediumC";
        &.dark {
          color: $textColor;
        }
        margin-bottom: px-to-vw(40);
      }
      .postsGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: px-to-vw(32);
        .post {
          cursor: pointer;
          border-radius: px-to-vw(12);
          overflow: hidden;
          display: block;
          .cover {
            height: px-to-vw(245);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .content {
            background: $lightGrey;
            padding: px-to-vw(24) px-to-vw(32);
            .tags {
              gap: px-to-vw(16);
              a {
                font-weight: 600;
                font-size: px-to-vw(14);
                line-height: 171%;
              }
            }
            h5 {
              font-weight: bold;
              font-size: px-to-vw(20);
              line-height: 140%;
              margin: px-to-vw(16) 0;
              font-family: "FuturaMediumC", sans-serif;
            }
            p {
              display: -webkit-box;
              max-width: 100%;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: px-to-vw(16);
              line-height: 150%;
            }
          }
        }
      }
      .purple {
        margin-top: px-to-vw(40);
      }
    }
  }
}
