@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$textColor: #2c3341;
$purpur: #5c44ca;
$greyText: #afb7c5;
$lightGrey: #f4f5f7;
$greyShadow: #ebecec;

$screen-width: 1440;
@function px-to-vw($value) {
  @return $value * 100 / $screen-width + vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: $textColor;
  outline: none;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

body,
html {
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

button,
input,
textarea {
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 91.6%;
  margin: 0 auto;
}

#logo {
  display: flex;
  align-items: center;
  gap: px-to-vw(5);
  p {
    font-family: "Rubik";
    color: #fff;
    font-size: px-to-vw(18);
    letter-spacing: -0.03em;
    &:first-child {
      font-weight: 600;
    }
  }
  img {
    width: px-to-vw(80);
    height: px-to-vw(80);
  }
}

#searchContainer {
  background: #ffffff;
  border: 1px solid $greyShadow;
  border-radius: px-to-vw(32);
  padding: px-to-vw(12) px-to-vw(24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    font-size: px-to-vw(16);
    line-height: 182%;
    flex-grow: 1;
    padding-top: px-to-vw(4);
    &::placeholder {
      color: $greyText;
    }
  }
  button {
    width: px-to-vw(18);
    height: px-to-vw(18);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  gap: px-to-vw(24);
  a,
  span {
    font-size: px-to-vw(16);
    line-height: 162%;
    color: $purpur;
  }
}

button.purple,
a.purple {
  background: $purpur;
  border: 1px solid $purpur;
  border-radius: px-to-vw(32);
  padding: px-to-vw(16) px-to-vw(32);
  font-weight: 600;
  font-size: px-to-vw(16);
  line-height: 150%;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: px-to-vw(418);
  text-align: center;
}

// header

#burger_body,
#burger,
.close {
  display: none;
}

header,
footer {
  background: $purpur;
  padding: px-to-vw(10) 0;
  background-image: url("./assets/headerbg.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0 center, px-to-vw(400) center;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: px-to-vw(40);
    .left {
      margin-right: auto;
    }
    .right {
      margin-left: auto;
    }
    nav {
      display: flex;
      align-items: center;
      gap: px-to-vw(32);
      a {
        color: #fff;
        font-weight: 600;
        font-size: px-to-vw(16);
        line-height: 150%;
      }
    }
    #searchContainer {
      width: px-to-vw(388);
    }
    #language {
      position: relative;
      user-select: none;
      #lang_label {
        background-color: #fff;
        border-radius: px-to-vw(32);
        padding: px-to-vw(15) px-to-vw(24);
        display: flex;
        align-items: center;
        gap: px-to-vw(15);
        position: relative;
        z-index: 5;
        cursor: pointer;
        span {
          font-size: px-to-vw(16);
          line-height: 162%;
        }
        img {
          width: px-to-vw(20);
          height: px-to-vw(20);
        }
        .arrow {
          width: px-to-vw(15);
          height: px-to-vw(10);
          margin-left: px-to-vw(20);
        }
      }
      #lang_body {
        padding: px-to-vw(24);
        position: absolute;
        background: #ffffff;
        border: 1px solid $lightGrey;
        border-radius: px-to-vw(32);
        width: 100%;
        left: 0;
        li {
          cursor: pointer;
          font-size: px-to-vw(16);
          line-height: 162%;
          &:not(:last-child) {
            margin-bottom: px-to-vw(12);
          }
          &.active {
            color: $purpur;
          }
        }
        top: 0;
        max-height: 100%;
        overflow: hidden;
        &.visible {
          top: 100%;
          margin-top: px-to-vw(8);
          max-height: 100vh;
        }
      }
    }
    > span {
      font-size: px-to-vw(16);
      line-height: 162%;
      color: #ffffff;
    }
  }
}

footer {
  background-color: $purpur;
  background-image: url("./assets/footerbg.svg");
  nav a {
    text-decoration: underline;
  }
}

h1 {
  font-size: px-to-vw(72);
  line-height: 119%;
  margin-bottom: px-to-vw(20);
  font-weight: 700;
  font-family: "Rubik";
}
h2 {
  font-weight: bold;
  font-size: px-to-vw(56);
  line-height: 114%;
  font-family: "Rubik";
  color: $textColor;
}
h3 {
  font-weight: 700;
  font-size: px-to-vw(28);
  line-height: 143%;
  color: $textColor;
  font-family: "Rubik";
}
h6 {
  font-weight: bold;
  font-size: px-to-vw(20);
  line-height: 140%;
  font-family: "Rubik";
}

.advertising {
  background-color: $lightGrey;
  flex-grow: 1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: px-to-vw(12);
  color: $greyText;
  font-weight: bold;
  font-size: px-to-vw(20);
  line-height: 140%;
  height: px-to-vw(250);
  &.long {
    height: px-to-vw(160);
  }
}

.mobile {
  display: none !important;
}

.post {
  cursor: pointer;
  border-radius: px-to-vw(12);
  overflow: hidden;
  display: block;
  .cover {
    height: px-to-vw(245);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    background: $lightGrey;
    padding: px-to-vw(24) px-to-vw(32);
    .tags {
      gap: px-to-vw(16);
      a {
        font-weight: 600;
        font-size: px-to-vw(14);
        line-height: 171%;
      }
    }
    h5 {
      font-weight: bold;
      font-size: px-to-vw(20);
      line-height: 140%;
      margin: px-to-vw(16) 0;
      font-family: "Rubik", sans-serif;
    }
    p {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: px-to-vw(16);
      line-height: 150%;
    }
  }
}

.comments {
  margin: px-to-vw(60) 0;
  .comments_column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    .comment {
      padding: px-to-vw(32) 0;
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid $greyShadow;
      }
      .title {
        font-weight: bold;
        font-size: px-to-vw(20);
        line-height: 140%;
        font-family: "Rubik";
        margin-bottom: px-to-vw(32);
      }
      .footer {
        justify-content: space-between;
      }
      .copy,
      .evaluation,
      .footer,
      .like,
      .dislike {
        display: flex;
        align-items: center;
        gap: px-to-vw(12);
        font-size: px-to-vw(16);
        line-height: 162%;
        img {
          width: px-to-vw(24);
          height: px-to-vw(24);
        }
      }
      .evaluation {
        gap: px-to-vw(24);
      }
      .dislike img {
        transform: scaleY(-1);
      }
      .copy {
        color: $textColor;
        text-transform: capitalize;
        span {
          margin-top: px-to-vw(2);
        }
        cursor: pointer;
      }
      .dislike,
      .like {
        font-weight: 500;
        color: $greyText;
        cursor: pointer;
      }
      .new {
        position: absolute;
        top: px-to-vw(32);
        right: 0;
        background: #e7f6ed;
        border-radius: px-to-vw(8);
        padding: px-to-vw(2) px-to-vw(8);
        font-weight: 600;
        font-size: px-to-vw(16);
        line-height: 150%;
        color: #2da35c;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: px-to-vw(6);
        &::before {
          content: "";
          width: px-to-vw(8);
          height: px-to-vw(8);
          background: #2da35c;
          border-radius: 50%;
        }
      }
    }
  }
  .showmore {
    margin: 0 auto;
    display: block;
    width: fit-content;
    margin-top: px-to-vw(40);
    font-weight: 600;
    font-size: px-to-vw(16);
    line-height: 150%;
    color: $purpur;
    padding: px-to-vw(16) px-to-vw(114);
    border: 1px solid $purpur;
    border-radius: px-to-vw(32);
  }
}

main {
  section#intro {
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: px-to-vw(35) 0;
      gap: px-to-vw(60);
      > img {
        width: px-to-vw(255);
        margin-right: px-to-vw(174);
      }
      p {
        font-size: px-to-vw(18);
        line-height: 144%;
        width: px-to-vw(633);
        margin-bottom: px-to-vw(40);
      }
      #searchContainer {
        width: px-to-vw(735);
      }
      .tags {
        margin-top: px-to-vw(24);
      }
    }
  }
  section.posts {
    margin: px-to-vw(60) 0;
    .container {
      h2 {
        color: $greyText;
        &.dark {
          color: $textColor;
        }
        margin-bottom: px-to-vw(40);
      }
      .postsGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: px-to-vw(32);
      }
      .purple {
        margin-top: px-to-vw(40);
      }
    }
  }
  section#catalog {
    background: $lightGrey;
    .container {
      padding: px-to-vw(60) 0;
      h5 {
        font-weight: bold;
        font-size: px-to-vw(20);
        line-height: 140%;
        color: $textColor;
        font-family: "Rubik";
        margin-bottom: px-to-vw(16);
      }
      .tags {
        gap: px-to-vw(12);
        flex-wrap: wrap;
        button {
          padding: px-to-vw(16) px-to-vw(32);
          border-radius: px-to-vw(32);
          background-color: #fff;
          font-size: px-to-vw(16);
          line-height: 150%;
          color: $textColor;
          &.active {
            color: #fff;
            background-color: $purpur;
            font-weight: 600;
          }
        }
      }
    }
  }
  section.ads {
    margin: px-to-vw(60) 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: px-to-vw(32);
      width: 67%;
    }
  }
  section#post {
    .container {
      width: 78%;
      .preview {
        margin: px-to-vw(40) 0;
        border-radius: px-to-vw(16);
        height: px-to-vw(473);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .body {
        display: grid;
        grid-template-columns: 1fr px-to-vw(300);
        gap: px-to-vw(30);
        .content {
          .tags {
            margin-bottom: px-to-vw(30);
            gap: px-to-vw(24);
          }
          h2 {
            margin-bottom: px-to-vw(40);
          }
          p {
            width: 92%;
            color: $textColor;
            font-size: px-to-vw(18);
            line-height: 167%;
          }
          hr {
            width: px-to-vw(275);
            margin-top: px-to-vw(40);
            margin-bottom: px-to-vw(30);
            border: none;
            background: $greyShadow;
            height: 1px;
          }
          h3 {
            width: 85%;
            margin-bottom: px-to-vw(40);
          }
          .purple {
            margin: 0;
            margin-bottom: px-to-vw(40);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: px-to-vw(14);
            img {
              width: px-to-vw(12);
              height: px-to-vw(12);
            }
          }
        }
        .side {
          > *:first-child,
          .menu {
            margin-bottom: px-to-vw(32);
          }
          .menu {
            padding: px-to-vw(40);
            background: $lightGrey;
            border-radius: px-to-vw(12);
            h6 {
              margin-bottom: px-to-vw(24);
            }
            nav {
              display: flex;
              flex-direction: column;
              gap: px-to-vw(16);
              a {
                font-size: px-to-vw(16);
                line-height: 162%;
                text-transform: capitalize;
                span {
                  color: $greyText;
                  margin-left: 1ch;
                }
              }
            }
          }
        }
      }
    }
  }
  .slider {
    margin: px-to-vw(80) 0;
    width: calc(100vw - ((100vw - 78%) / 2));
    margin-left: auto;
    .container {
      width: 87%;
      margin: 0;
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: px-to-vw(40);
        #prev,
        #next {
          width: px-to-vw(40);
          height: px-to-vw(40);
        }
        #next {
          transform: scaleX(-1);
        }
      }
    }
    .swiper {
      overflow: visible;
      padding-right: px-to-vw(32);
      .post {
        width: px-to-vw(355);
      }
    }
  }
}

@media (min-width: 1920px) {
  @function px-to-vw($value) {
    @return $value + px;
  }
  .container {
    max-width: 1320px;
  }

  #logo {
    gap: px-to-vw(5);
    p {
      font-size: px-to-vw(18);
    }
    img {
      width: px-to-vw(80);
      height: px-to-vw(80);
    }
  }

  #searchContainer {
    border-radius: px-to-vw(32);
    padding: px-to-vw(12) px-to-vw(24);
    input {
      font-size: px-to-vw(16);
      padding-top: px-to-vw(4);
    }
    button {
      width: px-to-vw(18);
      height: px-to-vw(18);
    }
  }

  .tags {
    gap: px-to-vw(24);
    a,
    span {
      font-size: px-to-vw(16);
    }
  }

  button.purple,
  a.purple {
    border-radius: px-to-vw(32);
    padding: px-to-vw(16) px-to-vw(32);
    font-size: px-to-vw(16);
    max-width: px-to-vw(418);
  }

  .post {
    border-radius: px-to-vw(12);
    .cover {
      height: px-to-vw(245);
    }
    .content {
      padding: px-to-vw(24) px-to-vw(32);
      .tags {
        gap: px-to-vw(16);
        a {
          font-weight: 600;
          font-size: px-to-vw(14);
        }
      }
      h5 {
        font-size: px-to-vw(20);
        margin: px-to-vw(16) 0;
      }
      p {
        font-size: px-to-vw(16);
      }
    }
  }

  // header

  header,
  footer {
    padding: px-to-vw(10) 0;
    .container {
      gap: px-to-vw(40);
      nav {
        gap: px-to-vw(32);
        a {
          font-size: px-to-vw(16);
        }
      }
      #searchContainer {
        width: px-to-vw(388);
      }
      #language {
        #lang_label {
          border-radius: px-to-vw(32);
          padding: px-to-vw(15) px-to-vw(24);
          gap: px-to-vw(15);
          span {
            font-size: px-to-vw(16);
          }
          img {
            width: px-to-vw(20);
            height: px-to-vw(20);
          }
          .arrow {
            width: px-to-vw(15);
            height: px-to-vw(10);
            margin-left: px-to-vw(20);
          }
        }
        #lang_body {
          padding: px-to-vw(24);
          border-radius: px-to-vw(32);
          li {
            font-size: px-to-vw(16);
            &:not(:last-child) {
              margin-bottom: px-to-vw(12);
            }
          }
          &.visible {
            margin-top: px-to-vw(8);
          }
        }
      }
      > span {
        font-size: px-to-vw(16);
      }
    }
  }

  h1 {
    font-size: px-to-vw(72);
    margin-bottom: px-to-vw(20);
  }
  h2 {
    font-size: px-to-vw(56);
  }
  h3 {
    font-size: px-to-vw(28);
  }
  h6 {
    font-size: px-to-vw(20);
  }

  .advertising {
    border-radius: px-to-vw(12);
    font-size: px-to-vw(20);
    height: px-to-vw(250);
    &.long {
      height: px-to-vw(160);
    }
  }
  .comments {
    margin: px-to-vw(60) 0;
    .comments_column {
      .comment {
        padding: px-to-vw(32) 0;
        .title {
          font-size: px-to-vw(20);
          margin-bottom: px-to-vw(32);
        }
        .copy,
        .evaluation,
        .footer,
        .like,
        .dislike {
          gap: px-to-vw(12);
          font-size: px-to-vw(16);
          img {
            width: px-to-vw(24);
            height: px-to-vw(24);
          }
        }
        .evaluation {
          gap: px-to-vw(24);
        }
        .dislike img {
          transform: scaleY(-1);
        }
        .copy {
          span {
            margin-top: px-to-vw(2);
          }
        }
        .new {
          top: px-to-vw(32);
          border-radius: px-to-vw(8);
          padding: px-to-vw(2) px-to-vw(8);
          font-size: px-to-vw(16);
          gap: px-to-vw(6);
          &::before {
            width: px-to-vw(8);
            height: px-to-vw(8);
          }
        }
      }
    }
    .showmore {
      margin-top: px-to-vw(40);
      font-size: px-to-vw(16);
      padding: px-to-vw(16) px-to-vw(114);
      border-radius: px-to-vw(32);
    }
  }

  main {
    section#intro {
      .container {
        padding: px-to-vw(35) 0;
        gap: px-to-vw(60);
        > img {
          width: px-to-vw(255);
          margin-right: px-to-vw(174);
        }
        p {
          font-size: px-to-vw(18);
          width: px-to-vw(633);
          margin-bottom: px-to-vw(40);
        }
        #searchContainer {
          width: px-to-vw(735);
        }
        .tags {
          margin-top: px-to-vw(24);
        }
      }
    }
    section.posts {
      margin: px-to-vw(60) 0;
      .container {
        h2 {
          margin-bottom: px-to-vw(40);
        }
        .postsGrid {
          gap: px-to-vw(32);
        }
        .purple {
          margin-top: px-to-vw(40);
        }
      }
    }
    section#catalog {
      .container {
        padding: px-to-vw(60) 0;
        h5 {
          font-size: px-to-vw(20);
          margin-bottom: px-to-vw(16);
        }
        .tags {
          gap: px-to-vw(12);
          button {
            padding: px-to-vw(16) px-to-vw(32);
            border-radius: px-to-vw(32);
            font-size: px-to-vw(16);
          }
        }
      }
    }
    section.ads {
      margin: px-to-vw(60) 0;
      .container {
        gap: px-to-vw(32);
        max-width: 965px;
        .advertising {
          border-radius: px-to-vw(12);
          font-size: px-to-vw(20);
          height: px-to-vw(250);
          &.long {
            height: px-to-vw(160);
          }
        }
      }
    }
    section#post {
      .container {
        .preview {
          margin: px-to-vw(40) 0;
          border-radius: px-to-vw(16);
          height: px-to-vw(473);
        }
        .body {
          grid-template-columns: 1fr px-to-vw(300);
          gap: px-to-vw(30);
          .content {
            .tags {
              margin-bottom: px-to-vw(30);
              gap: px-to-vw(24);
            }
            h2 {
              margin-bottom: px-to-vw(40);
            }
            p {
              font-size: px-to-vw(18);
            }
            hr {
              width: px-to-vw(275);
              margin-top: px-to-vw(40);
              margin-bottom: px-to-vw(30);
            }
            h3 {
              margin-bottom: px-to-vw(40);
            }
            .purple {
              margin-bottom: px-to-vw(40);
              gap: px-to-vw(14);
              img {
                width: px-to-vw(12);
                height: px-to-vw(12);
              }
            }
          }
          .side {
            > *:first-child,
            .menu {
              margin-bottom: px-to-vw(32);
            }
            .menu {
              padding: px-to-vw(40);
              border-radius: px-to-vw(12);
              h6 {
                margin-bottom: px-to-vw(24);
              }
              nav {
                gap: px-to-vw(16);
                a {
                  font-size: px-to-vw(16);
                }
              }
            }
          }
        }
      }
    }
    .slider {
      margin: px-to-vw(80) 0;
      width: calc(100vw - ((100vw - 1280px) / 2));
      margin-left: auto;
      .container {
        width: 87%;
        margin: 0;
        .header {
          margin-bottom: px-to-vw(40);
          #prev,
          #next {
            width: px-to-vw(40);
            height: px-to-vw(40);
          }
        }
      }
      .swiper {
        padding-right: calc((100vw - 1280px) / 2);
        .post {
          width: px-to-vw(355);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #logo {
    img {
      width: px-to-vw(120);
      height: px-to-vw(120);
    }
    p {
      font-size: px-to-vw(26);
    }
  }

  #searchContainer {
    padding: px-to-vw(14) px-to-vw(28);
    input {
      font-size: px-to-vw(20);
    }
    button {
      width: px-to-vw(24);
      height: px-to-vw(24);
    }
  }

  .tags {
    gap: px-to-vw(28);
    a {
      font-size: px-to-vw(20);
    }
  }

  button.purple,
  a.purple {
    border-radius: px-to-vw(38);
    padding: px-to-vw(20);
    font-size: px-to-vw(20);
    max-width: px-to-vw(460);
  }

  // header

  header,
  footer {
    .container {
      nav {
        a {
          font-size: px-to-vw(20);
        }
      }
      #language {
        #lang_label {
          span {
            font-size: px-to-vw(20);
          }
          img {
            width: px-to-vw(25);
            height: px-to-vw(25);
          }
          .arrow {
            width: px-to-vw(20);
            height: px-to-vw(15);
            margin-left: px-to-vw(30);
          }
        }
        #lang_body {
          li {
            font-size: px-to-vw(20);
          }
        }
      }
      > span {
        font-size: px-to-vw(20);
      }
    }
  }

  h1 {
    font-size: px-to-vw(80);
  }
  h2 {
    font-size: px-to-vw(64);
  }

  .advertising {
    border-radius: px-to-vw(12);
    font-size: px-to-vw(24);
    height: px-to-vw(270);
    &.long {
      height: px-to-vw(180);
    }
  }

  .post {
    .cover {
      height: px-to-vw(245);
    }
    .content {
      .tags {
        a {
          font-size: px-to-vw(18);
        }
      }
      h5 {
        font-size: px-to-vw(24);
      }
      p {
        font-size: px-to-vw(20);
      }
    }
  }

  main {
    section#intro {
      .container {
        padding: px-to-vw(70) 0;
        > img {
          width: px-to-vw(280);
          margin-right: px-to-vw(120);
        }
        p {
          font-size: px-to-vw(20);
          width: px-to-vw(700);
        }
        .tags {
          margin-top: px-to-vw(30);
        }
      }
    }
    section#catalog {
      .container {
        h5 {
          font-size: px-to-vw(24);
        }
        .tags {
          gap: px-to-vw(14);
          button {
            padding: px-to-vw(18) px-to-vw(34);
            border-radius: px-to-vw(32);
            font-size: px-to-vw(18);
          }
        }
      }
    }
    section.ads {
      .container {
        width: 80%;
      }
    }
  }
}

@media (max-width: 640px) {
  $screen-width: 375;
  @function px-to-vw($value) {
    @return $value * 100 / $screen-width + vw;
  }

  .mobile {
    display: block;
  }

  .container {
    width: 91%;
  }

  #logo {
    margin-right: auto;
    gap: px-to-vw(3);
    img {
      width: px-to-vw(52);
      height: px-to-vw(52);
    }
    p {
      font-size: px-to-vw(14);
    }
  }

  #searchContainer {
    border-radius: px-to-vw(32);
    padding: px-to-vw(12) px-to-vw(24);
    input {
      font-size: px-to-vw(16);
    }
    button {
      width: px-to-vw(18);
      height: px-to-vw(18);
    }
    &.background {
      &::before {
        position: absolute;
        content: "";
        top: px-to-vw(-16);
        left: px-to-vw(-16);
        right: px-to-vw(-16);
        height: px-to-vw(88);
        background: $lightGrey;
        z-index: -1;
      }
    }
  }

  .tags {
    gap: px-to-vw(2) px-to-vw(12);
    flex-wrap: wrap;
    a,
    span {
      font-size: px-to-vw(16);
    }
  }

  .close {
    display: block;
    border-bottom: 1px solid $lightGrey;
    padding: px-to-vw(16) px-to-vw(20);
    img {
      width: px-to-vw(24);
      height: px-to-vw(24);
    }
  }

  button.purple,
  a.purple {
    border-radius: px-to-vw(32);
    padding: px-to-vw(16);
    font-size: px-to-vw(16);
    max-width: none;
    width: 100%;
  }

  // header

  #burger_body,
  #burger {
    display: block;
  }

  #burger {
    width: px-to-vw(24);
    height: px-to-vw(24);
    position: relative;
    span,
    &::after,
    &::before {
      position: absolute;
      background: #ffffff;
      width: px-to-vw(18);
      height: 2px;
      border-radius: px-to-vw(4);
      left: px-to-vw(2);
    }
    &::after,
    &::before {
      content: "";
    }
    span {
      top: px-to-vw(11);
    }
    &::before {
      top: px-to-vw(5);
    }
    &::after {
      bottom: px-to-vw(5);
    }
  }

  #burger_body {
    position: absolute;
    transform: translateY(-100vh);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 10;
    nav {
      display: block;
      padding: px-to-vw(16) px-to-vw(24);
      a {
        color: $textColor;
        font-size: px-to-vw(16);
        &:not(:last-child) {
          margin-bottom: px-to-vw(12);
        }
      }
    }
    &.visible {
      transform: translateY(0);
    }
  }

  header,
  footer {
    padding: px-to-vw(6) 0;
    background-image: none;
    .container {
      gap: px-to-vw(12);
      nav {
        display: none;
      }
      #language {
        position: static;
        #lang_label {
          border-radius: px-to-vw(32);
          padding: px-to-vw(9) px-to-vw(12) px-to-vw(9) px-to-vw(16);
          gap: px-to-vw(6);
          span {
            font-size: px-to-vw(14);
          }
          img {
            width: px-to-vw(18);
            height: px-to-vw(18);
          }
          .arrow {
            width: px-to-vw(10);
            height: px-to-vw(10);
            margin-right: px-to-vw(10);
          }
        }
        #lang_body {
          padding: 0;
          border-radius: 0;
          margin-top: 0;
          left: 0;
          top: 0;
          width: 100vw;
          height: 100vh;
          z-index: 10;
          li {
            font-size: px-to-vw(16);
            &:not(:last-child) {
              margin-bottom: px-to-vw(12);
            }
          }
          transform: translateY(-100vh);
          ul {
            padding: px-to-vw(16) px-to-vw(24);
          }
          &.visible {
            transform: translateY(0);
            top: 0;
            margin: 0;
          }
        }
      }
      #searchContainer {
        position: absolute;
        width: 91%;
        top: px-to-vw(80);
      }
      > span {
        font-size: px-to-vw(16);
      }
    }
  }

  footer {
    .container {
      display: block;
      nav {
        display: block;
        margin-top: px-to-vw(22);
        margin-bottom: px-to-vw(32);
        a {
          display: block;
          font-size: px-to-vw(14);
          &:not(:last-child) {
            margin-bottom: px-to-vw(16);
          }
        }
      }
    }
  }

  h1 {
    font-size: px-to-vw(40);
    margin-bottom: px-to-vw(12);
  }
  h2 {
    font-size: px-to-vw(40);
  }
  h3 {
    font-size: px-to-vw(18);
  }
  h6 {
    font-size: px-to-vw(20);
  }

  .advertising {
    border-radius: px-to-vw(12);
    font-size: px-to-vw(20);
    height: px-to-vw(250);
    width: px-to-vw(300);
    margin: 0 auto;
    &.long {
      height: px-to-vw(160);
      width: 100%;
    }
  }
  .comments {
    margin-top: px-to-vw(16);
    margin-bottom: 0;
    .comments_column {
      .comment {
        padding: px-to-vw(32) 0;
        .title {
          font-size: px-to-vw(20);
          margin-bottom: px-to-vw(32);
        }
        .copy,
        .evaluation,
        .footer,
        .like,
        .dislike {
          gap: px-to-vw(12);
          font-size: px-to-vw(16);
          img {
            width: px-to-vw(24);
            height: px-to-vw(24);
          }
        }
        .evaluation {
          gap: px-to-vw(24);
        }
        .copy {
          span {
            margin-top: px-to-vw(2);
          }
        }
        .new {
          top: px-to-vw(32);
          border-radius: px-to-vw(8);
          padding: px-to-vw(2) px-to-vw(8);
          font-size: px-to-vw(16);
          gap: px-to-vw(6);
          &::before {
            content: "";
            width: px-to-vw(8);
            height: px-to-vw(8);
          }
        }
      }
    }
    .showmore {
      width: 100%;
      margin-top: px-to-vw(24);
      font-size: px-to-vw(14);
      padding: px-to-vw(11);
      border-radius: px-to-vw(32);
    }
  }

  .post {
    border-radius: px-to-vw(12);
    .cover {
      height: px-to-vw(245);
    }
    .content {
      padding: px-to-vw(20) px-to-vw(24);
      .tags {
        gap: px-to-vw(16);
        a {
          font-size: px-to-vw(14);
        }
      }
      h5 {
        font-size: px-to-vw(16);
        margin: px-to-vw(12) 0;
      }
      p {
        font-size: px-to-vw(14);
      }
    }
  }

  .desktop {
    display: none !important;
  }

  main {
    section#intro {
      background: $lightGrey;
      .container {
        padding: px-to-vw(40) 0;
        display: block;
        > img {
          display: none;
        }
        p {
          font-size: px-to-vw(16);
          width: auto;
          margin-bottom: px-to-vw(24);
        }
        #searchContainer {
          width: 100%;
        }
        .tags {
          margin-top: px-to-vw(12);
        }
      }
    }
    section.posts {
      margin-top: px-to-vw(40);
      margin-bottom: px-to-vw(60);
      .container {
        h2 {
          margin-bottom: px-to-vw(24);
        }
        .postsGrid {
          gap: px-to-vw(12);
          grid-template-columns: 1fr;
        }
        .purple {
          margin-top: px-to-vw(16);
        }
      }
    }
    section#catalog {
      .container {
        padding-top: px-to-vw(88);
        padding-bottom: px-to-vw(24);
        h5 {
          font-size: px-to-vw(20);
          margin-bottom: px-to-vw(16);
        }
        .tags {
          gap: px-to-vw(8);
          button {
            padding: px-to-vw(9) px-to-vw(20);
            border-radius: px-to-vw(32);
            font-size: px-to-vw(14);
          }
        }
      }
    }
    section.ads {
      margin: px-to-vw(24) 0;
      .container {
        width: 80%;
        .advertising {
          &:not(:first-child) {
            display: none;
          }
        }
      }
      & + section {
        margin: 0;
      }
    }
    section#post {
      .container {
        width: 91%;
        .preview {
          margin-top: px-to-vw(104);
          margin-bottom: px-to-vw(20);
          border-radius: px-to-vw(16);
          height: px-to-vw(221);
        }
        .body {
          display: flex;
          flex-direction: column;
          gap: px-to-vw(40);
          .content {
            .tags {
              margin-bottom: px-to-vw(12);
              gap: px-to-vw(16);
            }
            h2 {
              margin-bottom: px-to-vw(16);
              font-size: px-to-vw(32);
            }
            p {
              width: 100%;
              font-size: px-to-vw(14);
              margin-bottom: px-to-vw(24);
            }
            hr {
              width: 100%;
              margin: px-to-vw(24) 0;
            }
            h3 {
              width: 100%;
              margin-bottom: px-to-vw(24);
            }
            .purple {
              padding: px-to-vw(11);
              margin-bottom: px-to-vw(24);
              gap: px-to-vw(8);
              img {
                width: px-to-vw(14);
                height: px-to-vw(14);
                margin-bottom: px-to-vw(2);
              }
            }
          }
          .side {
            > *:first-child,
            .menu {
              margin-bottom: px-to-vw(24);
            }
            .menu {
              padding: px-to-vw(40);
              border-radius: px-to-vw(12);
              h6 {
                margin-bottom: px-to-vw(24);
              }
              nav {
                gap: px-to-vw(16);
                a {
                  font-size: px-to-vw(16);
                }
              }
            }
          }
        }
      }
    }
    .slider {
      margin: px-to-vw(40) 0;
      width: 100vw;
      .container {
        width: 91%;
        margin: 0 auto;
        .header {
          margin-bottom: px-to-vw(24);
          #prev,
          #next {
            display: none;
          }
        }
      }
      .swiper {
        display: none;
      }
      .comments_column {
        gap: px-to-vw(12);
      }
    }
  }
}
